/* -- 
You can use CSS to turn HTML block level elements 
to inline elements and other way around.
-- */

nav {
    border: 1px solid #CCCCCC;
    width: 75%;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

ul li {
    /* -- <li> tags become inline elements -- */
    display: inline;
}

a {
    /* -- 
    CSS properties >>width<< and >>margin<< cannot be set for inline elements. 
    >>inline-block<< value of property >>display<< makes targetted element behaving like
    inline element BUT, this time, you have a chance to set the >>width<< or >>margin<< 
    for your element.
    -- */
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: cornflowerblue;
    color: white;
    text-decoration: none;
    width: 20%;
}

a:hover {
    background-color: #444444;
}